body{
  font-family: 'Open Sans', sans-serif;
}

#Title-page{
  background-color: #66BFBF;
  color:#fff;
}

#features{
  padding: 10% 4% 10%;
}
/* #Product-descrption{

   background-color: #8f8f8f;
} */
.container-fluid{
  margin:0 10px;
}
h1{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color:  #000;
  font-size: 3.1rem;
  line-height: 1.5;
  margin-bottom: 5%
}
h2{
  color: #000;
  padding-bottom: 5%;
}
h3{
  font-family: 'Open Sans', sans-serif;
  color: #66BFBF;
  font-size: 1.5rem;
  line-height: 1.2;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}
.tit{
  text-align: center;
  padding-bottom: 5%;
  padding-top: 4%;
}
.navbar{
  padding: 60px 40px 50px 35px;
  font-family: 'Ubuntu', sans-serif;

}

.navbar-brand{
  font-size: 2.2rem;
}

.nav-item{
  font-size:1.4rem;
  padding-left: 15px;
  padding-right: 15px;
}

.download-button{
  margin: 6px 2px 5px ;

}

.features-box{
  text-align: center;
  padding: 5% 0 5%;

}

 #Product-descrption{
  background-color: #66BFBF;
  height: 400px;
  text-align: center;
  color:#fff;
}

.slides{
    padding: 6% 20% 10% 15%;
}

.pro-img{
padding: 3%;
 border-radius: 100%;
}

.features-icon{
  margin-bottom: 5%;
}

.fab:hover{
  color: #000;
}
.sl:hover{
  color: #000;
}
.features-icon:hover{
  color: #66BFBF;
}

.install{
  text-align: center;
  padding: 3% 12% 2% 24%;
  background-color:#EAF6F6;
}
